<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="cfgfiles" value=".\App_Data\dbcfg.conf" />
    <add key="TuanTaskAutoRun_path" value="E:\soufunweb\TaskAutoRun定时跑程序\"></add>
    <!--报警短信手机号-->
    <add key="Manager_Mobile" value="13691384402"></add>
    <!--报警邮件地址-->
    <add key="Manager_Email" value="lushijun@fang.com"></add>
    <!--报警间隔,5分种-->
    <add key="AlertIntervalTime" value="5"></add>
    <add key="MailServer" value="mail.fang.com"></add>
    <add key="MailUser" value="lushijun@fang.com"></add>
    <add key="MailPassWord" value="3edc2wsx1qAZ"></add>
    <add key="MailAddess" value="lushijun@fang.com"></add>
  </appSettings>
</configuration>