<?xml version="1.0"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="BbsConfigInstance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Oracle" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="DefaultDataBaseInstance" type="Sql Server" connectionString="DataBaseOwner" />
        <instance name="DataBaseInstanceOwner" type="Sql Server" connectionString="DataBaseOwner" />
        <instance name="DataBaseInstanceReader" type="Sql Server" connectionString="DataBaseReader" />
        <instance name="DataBaseInstanceWriter" type="Sql Server" connectionString="DataBaseWriter" />
        <instance name="124.251.44.233_xft_login_log_DataBaseInstance" type="Sql Server" connectionString="124.251.44.233_xft_login_log_DataBaseOwner" />
        <instance name="124.251.44.233_xfds_monitor_DataBaseInstance" type="Sql Server" connectionString="124.251.44.233_xfds_monitor_DataBaseOwner" />
        <instance name="124.251.44.251_channelsales_DataBaseInstance" type="Sql Server" connectionString="124.251.44.251_channelsales_DataBaseOwner" />
        <instance name="124.251.44.253_channelsales_DataBaseInstance" type="Sql Server" connectionString="124.251.44.253_channelsales_DataBaseOwner" />
        <instance name="124.251.44.59_channelsales_DataBaseInstance" type="Sql Server" connectionString="124.251.44.59_channelsales_DataBaseOwner" />
        <instance name="124.251.44.197_channelsales_DataBaseInstance" type="Sql Server" connectionString="124.251.44.197_channelsales_DataBaseOwner" />
        <instance name="10.24.204.15_channelsales_DataBaseInstance" type="Sql Server" connectionString="10.24.204.15_channelsales_DataBaseOwner" />
        <instance name="124.251.44.220_tuan_DataBaseInstance" type="Sql Server" connectionString="124.251.44.220_tuan_DataBaseOwner" />
        <instance name="10.24.204.15_tuan_DataBaseInstance" type="Sql Server" connectionString="10.24.204.15_tuan_DataBaseOwner" />
        <instance name="124.251.44.59_tuan_DataBaseInstance" type="Sql Server" connectionString="124.251.44.59_tuan_DataBaseOwner" />
        <instance name="124.251.44.251_tuan_DataBaseInstance" type="Sql Server" connectionString="124.251.44.251_tuan_DataBaseOwner" />
        <instance name="124.251.44.253_tuan_DataBaseInstance" type="Sql Server" connectionString="124.251.44.253_tuan_DataBaseOwner" />
        <instance name="124.251.46.19_tuan_test_DataBaseInstance" type="Sql Server" connectionString="124.251.46.19_tuan_test_DataBaseOwner" />
        <instance name="124.251.46.19_channelsales_test_DataBaseInstance" type="Sql Server" connectionString="124.251.46.19_channelsales_test_DataBaseOwner" />
        <instance name="124.251.46.19_teamtool_DataBaseInstance" type="Sql Server" connectionString="124.251.46.19_teamtool_DataBaseOwner" />
        <instance name="124.251.44.244_channelsales_stats_DataBaseInstance" type="Sql Server" connectionString="124.251.44.244_channelsales_stats_DataBaseOwner" />
        <instance name="124.251.44.198_pay_DataBaseInstance" type="Sql Server" connectionString="124.251.44.198_pay_DataBaseOwner" />
        <instance name="124.251.47.158_SouFunCard_DataBaseInstance" type="Sql Server" connectionString="124.251.47.158_SouFunCard_DataBaseOwner" />
      </instances>
      <connectionStrings>
        <connectionString name="DataBaseOwner">
          <parameters>
            <parameter name="database" value="teamtool_test" isSensitive="false" />
            <parameter name="pwd" value="Td85rY42" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="TeamTool_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DataBaseReader">
          <parameters>
            <parameter name="database" value="teamtool_test" isSensitive="false" />
            <parameter name="pwd" value="Td85rY42" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="TeamTool_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="DataBaseWriter">
          <parameters>
            <parameter name="database" value="teamtool_test" isSensitive="false" />
            <parameter name="pwd" value="Td85rY42" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="TeamTool_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.233_xft_login_log_DataBaseOwner">
          <parameters>
            <parameter name="database" value="xft_login_log" isSensitive="false" />
            <parameter name="pwd" value="fGy897ah" isSensitive="false" />
            <parameter name="server" value="124.251.44.233" isSensitive="false" />
            <parameter name="user id" value="xft_login_log_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.233_xfds_monitor_DataBaseOwner">
          <parameters>
            <parameter name="database" value="xfds_monitor" isSensitive="false" />
            <parameter name="pwd" value="chMc4mmr" isSensitive="false" />
            <parameter name="server" value="124.251.44.233" isSensitive="false" />
            <parameter name="user id" value="xfds_monitor_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.251_channelsales_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales" isSensitive="false" />
            <parameter name="pwd" value="yxaq4bQ8" isSensitive="false" />
            <parameter name="server" value="124.251.44.251" isSensitive="false" />
            <parameter name="user id" value="channelsales_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.253_channelsales_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales" isSensitive="false" />
            <parameter name="pwd" value="yxaq4bQ8" isSensitive="false" />
            <parameter name="server" value="124.251.44.253" isSensitive="false" />
            <parameter name="user id" value="channelsales_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.59_channelsales_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales" isSensitive="false" />
            <parameter name="pwd" value="yxaq4bQ8" isSensitive="false" />
            <parameter name="server" value="124.251.44.59" isSensitive="false" />
            <parameter name="user id" value="channelsales_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.197_channelsales_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales" isSensitive="false" />
            <parameter name="pwd" value="Yds93js2" isSensitive="false" />
            <parameter name="server" value="124.251.44.197" isSensitive="false" />
            <parameter name="user id" value="channelsales_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="10.24.204.15_channelsales_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales" isSensitive="false" />
            <parameter name="pwd" value="Lg8Dg5SmQd" isSensitive="false" />
            <parameter name="server" value="10.24.204.15" isSensitive="false" />
            <parameter name="user id" value="channelsales_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="10.24.204.15_tuan_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan" isSensitive="false" />
            <parameter name="pwd" value="Bw7Es7Ps48" isSensitive="false" />
            <parameter name="server" value="10.24.204.15" isSensitive="false" />
            <parameter name="user id" value="tuan_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.220_tuan_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan" isSensitive="false" />
            <parameter name="pwd" value="kmbjhqb5" isSensitive="false" />
            <parameter name="server" value="124.251.44.220" isSensitive="false" />
            <parameter name="user id" value="tuan_w" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.59_tuan_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan" isSensitive="false" />
            <parameter name="pwd" value="fdxb7jcs" isSensitive="false" />
            <parameter name="server" value="124.251.44.59" isSensitive="false" />
            <parameter name="user id" value="tuan_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.251_tuan_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan" isSensitive="false" />
            <parameter name="pwd" value="fdxb7jcs" isSensitive="false" />
            <parameter name="server" value="124.251.44.251" isSensitive="false" />
            <parameter name="user id" value="tuan_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.253_tuan_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan" isSensitive="false" />
            <parameter name="pwd" value="fdxb7jcs" isSensitive="false" />
            <parameter name="server" value="124.251.44.253" isSensitive="false" />
            <parameter name="user id" value="tuan_r" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.46.19_tuan_test_DataBaseOwner">
          <parameters>
            <parameter name="database" value="tuan_test" isSensitive="false" />
            <parameter name="pwd" value="D7ddbb78" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="tuan_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.46.19_channelsales_test_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales_test" isSensitive="false" />
            <parameter name="pwd" value="ac1297F3" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="channelsales_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.44.244_channelsales_stats_DataBaseOwner">
          <parameters>
            <parameter name="database" value="channelsales_stats" isSensitive="false" />
            <parameter name="pwd" value="Qy5rpuq5" isSensitive="false" />
            <parameter name="server" value="124.251.44.244" isSensitive="false" />
            <parameter name="user id" value="channelsales_stats_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.46.19_teamtool_DataBaseOwner">
          <parameters>
            <parameter name="database" value="teamtool_test" isSensitive="false" />
            <parameter name="pwd" value="Td85rY42" isSensitive="false" />
            <parameter name="server" value="124.251.46.19" isSensitive="false" />
            <parameter name="user id" value="TeamTool_test_admin" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="124.251.47.158_SouFunCard_DataBaseOwner">
          <parameters>
            <parameter name="database" value="SouFunCard" isSensitive="false" />
            <parameter name="pwd" value="yBaG1U5t" isSensitive="false" />
            <parameter name="server" value="124.251.47.158" isSensitive="false" />
            <parameter name="user id" value="soufuncard_kft_r" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>