<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="Local" value="1"></add>
    <add key="PauseMilliSecond" value="900000"></add>
    <add key="RunType" value="0"></add>
    <add key="HostUrl" value="http://10.2.137.134"></add>
    <add key="ManagerPhone" value="13691384402"></add>
    <add key="MailServer" value="mail.fang.com"></add>
    <add key="MailUser" value="lushijun@fang.com"></add>
    <add key="MailPassWord" value="3edc2wsx1qaz"></add>
    <add key="MailAddess" value="lushijun@fang.com"></add>
    <add key="LogFilePath" value="E:/soufun/log/"></add>
    <add key="ResourcePath" value="http://10.2.137.134/"></add>
    <!--<add key="ResourcePath" value="http://newhouse.js.soufunimg.com/xfds/pay/"></add>-->
    <!--缓存方式：0传统的内存缓存，1文件缓存(存在log目录下)，2Memcache缓存-->
    <add key="Caching" value="0"></add>
    <add key="MemServer" value="10.2.137.134:11211"></add>
  </appSettings>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="D:/inetpub/TeamTool/Web/ConfigFile/dataconfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
    <includeTypes />
  </enterpriselibrary.configurationSettings>
</configuration>
