<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="HostUrl" value="http://www.teamtool.com" />
    <add key="ManagerPhone" value="13691384402" />
    <add key="MailServer" value="mail.qq.com" />
    <add key="MailUser" value="561459@qq.com" />
    <add key="MailPassWord" value="3edc2wsx1qAZ" />
    <add key="MailAddess" value="561459@qq.com" />
    <add key="LogFilePath" value="E:/soufun/log/" />
    <add key="ResourcePath" value="http://www.teamtool.com/" />
    <add key="Caching" value="0" />
    <add key="MemServer" value="10.2.137.134:11211" />
    <add key="FCKeditor:BasePath" value="/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="/UpFile/Article/" />
  </appSettings>
  <system.web>
    <machineKey validationKey="48EBAC6786888F247AEC34B86969903BF831EFB4" decryptionKey="91EB07691C67511FCE59A89A4E2EAC296D631D366BD90C99" validation="SHA1"/>
    <!--机器码，集群时，验证viewstate使用-->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="server=221.122.60.233;Trusted_Connection=false;user id=sa;password=117479;" cookieless="false" timeout="120"/>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。

        -->
    <compilation debug="true" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，

            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页

            以代替错误堆栈跟踪。

 -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
  </system.web>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="D:/inetpub/TeamTool/Web/ConfigFile/dataconfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true"/>
    <includeTypes/>
  </enterpriselibrary.configurationSettings>
</configuration>
